# Node.js 의존성 디렉토리
node_modules/

# 환경변수 파일 (비밀정보 포함)
.env

# 번역 관련 파일 (translate.js)
translate.js

test.js

s.js

testfile/

Thumbs.db

.vscode/

.idea/

.DS_Store

plagpage/

변수배열구조정리.js

asset/

apiStructure/

datastructure.js

test.json

test2.js

데이터구조예시.js

src/services/use_AI/참고문서

test/fe3/

test3.js

test4.js

test5.js

test6.js

test7

s3test/